@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("storage/icon-tools/polygon-scatter-haikei.svg");
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-size: cover; /* Ensures the image covers the whole background */
    background-position: center center; /* Centers the image */
    background-attachment: fixed;
}
